.temp5deg {
    width: 160px;
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.temp5deg-label {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F3F4F6;
}

.temp5deg-hot {
    background-color: #DC6969;
}

.temp5deg-cold {
    background-color: #69C1DC;
}