#Home {
    display: flex;
    flex-direction: column;
    background-color: #2A2D35;
    flex: 1;
    min-height: 100vh;
}

#controls-container {
    margin-top: 50px;
}

.home-btns-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 29px;
    margin-right: 29px;
    margin-bottom: 15px;
}